<div class="header-img">
  <section>
    <div class="background">
      <a href="" class="logo"><img class="logo-img" src="./images/logo.png" alt="" /></a>
      <h1 class="header-txt">FIND BEST EVENTS AROUND THE WORLD</h1>
      <div class="searching-block container">
        <form class="input-form search-form js-search-form">
          <div class="input-block">
            <input type="text" class="form-control" placeholder="Start searching" autocomplete="off" />
            <svg width=12 height=12>
              <use href="./images/icons/sprite.svg#icon-magnifier"></use>
            </svg>
          </div>
        </form>
        <div>
        <form class="input-form js-country-form">
          <div class="input-block">
            <input type="text" class="form-control" placeholder="Choose country" autocomplete="off" />
            <svg width=15 height=10>
              <use href="./images/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </form>
        <div class="country-block">
          <ul class="drop-countries js-dropdown"></ul>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
