<div id="Modal" class="prefix-Dialog container">
  <div class="prefix-div container">
    <div class="prefix-tabs">
      <ul class="team-card-list">
        <li class="team-card-item">
          <a href="https://github.com/TverdovskyiAleksey" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Alex.jpg" alt="#" />
                <h2 class="team-card-name">
                  Tverdovskyi Aleksey
                </h2>
                <p class="team-status">Team Lead</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/RomanSokurenko" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Roman.jpg" alt="#" />
                <h2 class="team-card-name">
                  Roman Sokurenko
                </h2>
                <p class="team-status">Best Developer</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/Dovzhenko-olga" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Olya.jpg" alt="#" />
                <h2 class="team-card-name">
                  Dovzhenko Olga
                </h2>
                <p class="team-status">Best Developer</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/yuriyprihodko158" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Yuri.jpg" alt="#" />
                <h2 class="team-card-name">
                  Yuriy Prihodko
                </h2>
                <p class="team-status">Best Developer</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/YuliiaU" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Yuly.jpg" alt="#" />
                <h2 class="team-card-name">
                  Yuliia Udalova
                </h2>
                <p class="team-status">Best Developer</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/Artanyan" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Alexandr.jpg" alt="#" />
                <h2 class="team-card-name">
                  Alexandr Tretya
                </h2>
                <p class="team-status">Best Developer</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/Vipa4ka" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Lena.jpeg" alt="#" />
                <h2 class="team-card-name">
                  Ilieva Elena
                </h2>
                <p class="team-status">Best Developer</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/SergeyBojchenko" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Serg.png" alt="#" />
                <h2 class="team-card-name">
                  Sergey Bojchenko
                </h2>
                <p class="team-status">Best Developer</p>
              </div>
            </div>
          </a>
        </li>
        <li class="team-card-item">
          <a href="https://github.com/Svetlana-Pishchulina" target="_blank" rel="noopener noreferrer">
            <div class="card-team-item-box">
              <div class="relative-div">
                <img class="card-team-img" loading="lazy" src="/images/team/Svet.jpg" alt="#" />
                <h2 class="team-card-name">
                  Svetlana Pishchulina
                </h2>
                <p class="team-status">Scrum Master</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <button type="button" class="prefix-close" title="Закрыть" data-action="close-pop-up">
      <svg class="team-close-popup-btn">
        <use href="./images/icons/sprite.svg#icon-close-icon"></use>
      </svg>
    </button>
  </div>
</div>