// mobile
.footer {
   background-color: #0e0e0e;
padding-bottom: 27px;
}
.txt-footer{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
width: 252px;
color: #939393;
margin-left: auto;
margin-right: auto;
padding-top: 60px
};

.txt-heart{
   color: $red-color;
};

// tablet
@media screen and (min-width: 768px){
.txt-footer{
font-size: 16px;
line-height: 20px;
width: 521px;
padding-top: 60px;
padding-bottom: 18px;
};
};
// desctop
@media screen and (min-width: 1280px){
   .txt-footer{
font-size: 16px;
line-height: 20px;
width: 521px;
padding-top: 85px;
padding-bottom: 18px;
   };
};

