// mobile
.txt-footer{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
width: 252px;
color: #939393;
margin-left: auto;
margin-right: auto;
margin-bottom: 27px;
margin-top: 60px;
};

.txt-heart{
   color: red;
};

// tablet
@media screen and (min-width: 768px){
.txt-footer{
font-size: 16px;
line-height: 20px;
width: 521px;
margin-bottom: 18px;
margin-top: 60px;
};
};
// desctop
@media screen and (min-width: 1280px){
   .txt-footer{
font-size: 16px;
line-height: 20px;
width: 521px;
margin-bottom: 18px;
margin-top: 85px;
   };
};