// mobile
.logo-header {
  position: absolute;
  top: 0px;
}

.logo-img {
  width: 107px;
}

.header-txt {
  padding-top: 78px;
  margin-bottom: 25px;
  //   position: absolute;
  margin-left: auto;
  margin-right: auto;

  width: 212px;

  font-weight: $font-weight-black;
  font-size: $font-size-18;
  line-height: 1.22;
  text-align: center;

  color: $title-text-color;
}

.background-header {
  // position: absolute;
  // top: 0px;
  background: url(../images/pic.jpg);
  width: 100%;
  height: 364px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// tablet
@media screen and (min-width: 768px) {
  .header-txt {
    padding-top: 40px;
    width: 353px;
    font-size: $font-size-30;
  }
  .logo-img {
    width: 179px;
  }
  .background-header {
    background: url(../images/pic-tablet.jpg);
    width: 100%;
    height: 364px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// desctop
@media screen and (min-width: 1280px) {
  .header-txt {
    width: 589px;
    font-size: $font-size-50;
    white-space: inherit;
  }

  .logo-img {
    width: 201px;
  }
  .background-header {
    margin: 0 auto;
    background: url(../images/pic-desctop.jpg);
    max-width: 1280px;
    height: 364px;
    //  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
