// mobile
.header-txt{
   margin-left: auto;
   margin-right: auto;
   margin-top: 78px;
   width: 212px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 900;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #DC56C5;
};

// tablet
@media screen and (min-width: 768px){
.header-txt{
width: 353px;
font-size: 30px;
line-height: 37px;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
}
};

// desctop
@media screen and (min-width: 1280px){
   .header-txt{
font-size: 50px;
line-height: 61px;
width: 588px;
margin-top: 40px;
   }
}
