.form-control {
  width: 270px;
  height: 40px;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: $font-size-16;
  line-height: 1.25;
  color: $accent-color;
  background: $search-bg-color;
  border: none;
  cursor: pointer;

  border-radius: 20px;
  transition: background 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s,
    transform 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s,
    box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;

  &:hover,
  &:focus {
    background: rgba(220, 86, 198, 0.5);
    transform: scale(1.1);
    box-shadow: 0px 4px 25px rgba(231, 57, 217, 0.774);
    outline: transparent;
  }

  &:focus-within ~ svg {
    opacity: 0;
  }
}

.input-blok {
  position: relative;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.form svg {
  position: absolute;
  top: 14px;
  right: 30px;
}
@media screen and(max-width: 767px) {
  .form:first-child {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .searching-blok {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
  }
  .form:first-child {
    margin-right: 30px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.info {
  color: $primary-text-color;
}

.team {
  margin-bottom: 5px;
  font-weight: $font-weight-bold;
  font-size: $font-size-14;
  line-height: 1.21;
  color: $title-text-color;
}

.start-date {
  font-weight: $font-weight-regular;
  font-size: $font-size-14;
  line-height: 1.21;
  margin-bottom: 5px;
}

.place {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-12;
  line-height: 1.25;
}

.card-foto {
  width: 128px;
  height: 161px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-bottom: 5px;

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 227px;
  }
}

.js-event-list {
  display: flex;
  flex-wrap: wrap;
  margin: -7px;

  @media screen and (min-width: 768px) {
    margin: -13.5px;
  }
  @media screen and (min-width: 1280px) {
    margin: -35px;
  }
}

.events {
  display: block;
  width: calc((100% - 4 * 7px) / 2);
  margin: 7px;
  margin-bottom: 42px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 13.5px) / 3);
    margin: 13.5px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 8 * 35px) / 4);
    margin: 35px;
  }
}

.card {
  text-align: center;
  width: 138px;
  // height: 100%;

  @media screen and (min-width: 768px) {
    width: 180px;
  }
}
