<li class="drop-country" data-value="US">USA</li>
<li class="drop-country" data-value="AD">Andorra</li>
<li class="drop-country" data-value="AI">Anguilla</li>
<li class="drop-country" data-value="AR">Argentina</li>
<li class="drop-country" data-value="AU">Australia</li>
<li class="drop-country" data-value="AT">Austria</li>
<li class="drop-country" data-value="AZ">Azerbaijan</li>
<li class="drop-country" data-value="BS">Bahamas</li>
<li class="drop-country" data-value="BH">Bahrain</li>
<li class="drop-country" data-value="BB">Barbados</li>
<li class="drop-country" data-value="BE">Belgium</li>
<li class="drop-country" data-value="BM">Bermuda</li>
<li class="drop-country" data-value="BR">Brazil</li>
<li class="drop-country" data-value="BG">Bulgaria</li>
<li class="drop-country" data-value="CA">Canada</li>
<li class="drop-country" data-value="CL">Chile</li>
<li class="drop-country" data-value="CN">China</li>
<li class="drop-country" data-value="CO">Colombia</li>
<li class="drop-country" data-value="CR">Costa Rica</li>
<li class="drop-country" data-value="HR">Croatia</li>
<li class="drop-country" data-value="CY">Cyprus</li>
<li class="drop-country" data-value="CZ">Czech Republic</li>
<li class="drop-country" data-value="DK">Denmark</li>
<li class="drop-country" data-value="DO">Dominican Republic</li>
<li class="drop-country" data-value="EC">Ecuador</li>
<li class="drop-country" data-value="EE">Estonia</li>
<li class="drop-country" data-value="FO">Faroe Islands</li>
<li class="drop-country" data-value="FI">Finland</li>
<li class="drop-country" data-value="FR">France</li>
<li class="drop-country" data-value="GE">Georgia</li>
<li class="drop-country" data-value="DE">Germany</li>
<li class="drop-country" data-value="GH">Ghana</li>
<li class="drop-country" data-value="GI">Gibraltar</li>
<li class="drop-country" data-value="GB">Great Britain</li>
<li class="drop-country" data-value="GR">Greece</li>
<li class="drop-country" data-value="HK">Hong Kong</li>
<li class="drop-country" data-value="HU">Hungary</li>
<li class="drop-country" data-value="IS">Iceland</li>
<li class="drop-country" data-value="IN">India</li>
<li class="drop-country" data-value="IE">Ireland</li>
<li class="drop-country" data-value="IL">Israel</li>
<li class="drop-country" data-value="IT">Italy</li>
<li class="drop-country" data-value="JM">Jamaica</li>
<li class="drop-country" data-value="JP">Japan</li>
<li class="drop-country" data-value="KR">Korea</li>
<li class="drop-country" data-value="LV">Latvia</li>
<li class="drop-country" data-value="LB">Lebanon</li>
<li class="drop-country" data-value="LT">Lithuania</li>
<li class="drop-country" data-value="LU">Luxembourg</li>
<li class="drop-country" data-value="MY">Malaysia</li>
<li class="drop-country" data-value="MT">Malta</li>
<li class="drop-country" data-value="MX">Mexico</li>
<li class="drop-country" data-value="MC">Monaco</li>
<li class="drop-country" data-value="ME">Montenegro</li>
<li class="drop-country" data-value="MA">Morocco</li>
<li class="drop-country" data-value="NL">Netherlands</li>
<li class="drop-country" data-value="AN">Netherlands Antilles</li>
<li class="drop-country" data-value="NZ">New Zealand</li>
<li class="drop-country" data-value="ND">Northern Ireland</li>
<li class="drop-country" data-value="NO">Norway</li>
<li class="drop-country" data-value="PE">Peru</li>
<li class="drop-country" data-value="PL">Poland</li>
<li class="drop-country" data-value="PT">Portugal</li>
<li class="drop-country" data-value="RO">Romania</li>
<li class="drop-country" data-value="RU">Russian Federation</li>
<li class="drop-country" data-value="LC">Saint Lucia</li>
<li class="drop-country" data-value="SA">Saudi Arabia</li>
<li class="drop-country" data-value="RS">Serbia</li>
<li class="drop-country" data-value="SG">Singapore</li>
<li class="drop-country" data-value="SK">Slovakia</li>
<li class="drop-country" data-value="SI">Slovenia</li>
<li class="drop-country" data-value="ZA">South Africa</li>
<li class="drop-country" data-value="ES">Spain</li>
<li class="drop-country" data-value="CH">Switzerland</li>
<li class="drop-country" data-value="TW">Taiwan</li>
<li class="drop-country" data-value="TH">Thailand</li>
<li class="drop-country" data-value="TT">Trinidad and Tobago</li>
<li class="drop-country" data-value="TR">Turkey</li>
<li class="drop-country" data-value="UA">Ukraine</li>
<li class="drop-country" data-value="AE">United Arab Emirates</li>
<li class="drop-country" data-value="UY">Uruguay</li>
<li class="drop-country" data-value="VE">Venezuela</li>